


@model IEnumerable<TravelSoloApp.Models.AspNetUser>
@{
        ViewBag.Title = "SendBulkmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        @using (Html.BeginForm("Index", "SendBulkEmail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            if (@ViewBag.Result != null)
            {
                <div class="alert alert-info">@ViewBag.Result</div>
            }
            <table class="table">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedEmail"
                                           value=@item.Email />@item.Email
                                    </label>
                                </div>
                            </td>
                        </tr>
                    }
            </table>
            <div>
                <textarea asp-for="Body" class="form-control" name="Message" id="mytextarea"></textarea>
            </div>
            <br/>
            <div>
                <br />
                <label>Attachment</label> 
                <input name="fileUploader" type="file"  />
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        }
    </div>

</body>
</html>