@model TravelSoloApp.Models.Point

 
<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>DataFromDataBase</title>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    </head>

    <body>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script type="text/javascript">

            var result = @Html.Raw(ViewBag.DataPoints); 
            	var datapoints =[];
	for(var i = 0; i < result.length; i++){
		datapoints.push({label:result[i].x, y:result[i].y});
            }
            console.log(datapoints)
window.onload = function () {



var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title: {
        text: "ASP.NET MVC"
    },
    data: [
        {
            type: "column",
            dataPoints: datapoints,
        }
    ]

});
chart.render();

};
        </script>

    </body>



</html> 