@model IEnumerable<TravelSoloApp.Models.Trip>

@{
    ViewBag.Title = "ViewTrips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Trips</h2>

<br/>
<br/>

<ul class="trips">

    @foreach (var item in Model)
    {


        <li>


            <div class="date">
                <div class="month">
                    @item.Date.ToString("MMM")
                </div>
                
                <div class="day">
                    @item.Date.ToString("dd")
                </div>
                
            </div>
            <div class="details">

                <span class="destination">
                    @item.Destination
                </span>
                <button data-trip-id="@item.Id" class="btn btn-default btn-sm pull-right js-toggle-booking">Book?</button>
                
            </div>

           

        </li>
    }
</ul>

@section scripts
{
    <link href="~/Content/Site.css" rel="stylesheet" />
 <script>

     $(document).ready(function () {

         $(".js-toggle-booking").click(function (e) {

             $.post("/api/tripbooking", { tripid: $(e.target).attr("data-trip-id") })
                 .done(function () {

                     $(e.target).
                         removeClass("btn-default").
                         addClass("btn-info").text("Booked");
                 })
                  
                 .fail(function (e) {
                     alert(e);
                 });
         });




     });


    </script>   
    
 }

